/* place your custom CSS overrides here */

:root {
  --base-indent: 20px;
}

.toc-wrapper {
    background-color: var(--brandPrimaryDarkBlue500);
}

.toc-wrapper .lang-selector {
    background-color: var(--brandPrimaryDarkBlue500);
}

.lang-selector, th {
    font-weight: 500;
}

b, strong {
    font-weight: 600;
}

.deprecated {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin: 2.5px 0.25rem;
  padding: 0 0.75rem;
  white-space: nowrap;

  background: var(--feedbackWarning100);
  border-color: var(--feedbackWarning300);
  color: var(--feedbackWarning500);
}
.toc-link.deprecated {
  padding: 0 0.5rem;
}

.api table td {
  position: relative;
}
span.pipe {
  border-left: 1.5px solid var(--neutral700);
  position: absolute;
  top: -0.5em;
  bottom: 0;
  left: 0;
}
span.pipe.last {
  height: 31.5px;
}
span.pipe.node:after {
  content: "–";
  color: var(--neutral700);
  position: absolute;
  top: 18px;
  left: -1px;
}
.indent-1 {padding-left: calc(var(--base-indent) * 1.5) !important; margin-left: var(--base-indent);}
.indent-2 {padding-left: calc(var(--base-indent) * 2.5) !important; margin-left: calc(var(--base-indent) * 2);}
.indent-3 {padding-left: calc(var(--base-indent) * 3.5) !important; margin-left: calc(var(--base-indent) * 3);}
.indent-4 {padding-left: calc(var(--base-indent) * 4.5) !important; margin-left: calc(var(--base-indent) * 4);}
.indent-5 {padding-left: calc(var(--base-indent) * 5.5) !important; margin-left: calc(var(--base-indent) * 5);}
.indent-6 {padding-left: calc(var(--base-indent) * 6.5) !important; margin-left: calc(var(--base-indent) * 6);}
.indent-7 {padding-left: calc(var(--base-indent) * 7.5) !important; margin-left: calc(var(--base-indent) * 7);}
.indent-8 {padding-left: calc(var(--base-indent) * 8.5) !important; margin-left: calc(var(--base-indent) * 8);}
.indent-9 {padding-left: calc(var(--base-indent) * 9.5) !important; margin-left: calc(var(--base-indent) * 9);}
