<!DOCTYPE html>
<html lang="{{page.attributes.lang}}">
  <head>
{{> head defaultPageTitle=''}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
