@page {
  margin: 0.5in;
}

@media print {
  .hide-for-print,
  .dt-loading.hidden {
    display: none !important;
  }

  html {
    font-size: var(--body-font-size--print);
  }

  a {
    text-decoration: underline;
  }

  a.bare,
  a[href^="#"],
  a[href^="mailto:"] {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
      page-break-inside: avoid;
  }
  h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
      content: "";
      display: block;
      height: 2em;
      margin-bottom: -2em;
  }

  tr,
  img,
  object,
  svg {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  pre {
    hyphens: none;
    white-space: pre-wrap;
  }

  body {
    padding-top: 2rem;
  }

  #top-menu,
  header a,
  header button,
  header label,
  .nav-container,
  .toc.sidebar,
  .ulist.tabBar,
  .sidebar-button a,
  iframe {
      display: none !important;
  }
  header, .sm {
      position: static;
      background: none;
      border: none !important;
      box-shadow: none !important;
  }
  .sm li, .sm-blue a {
      background: none !important;
  }
  header a.logo {
      display: block !important;
      margin: 0 2rem 0.25rem;
      padding: 0 !important;
  }
  header a.logo, header a.logo img {
      max-width: 130px !important;
  }

  .navbar {
    background: none;
    color: inherit;
    position: absolute;
  }

  .navbar * {
    color: inherit !important;
  }

  .navbar > :not(.navbar-brand),
  .nav-container,
  .toolbar,
  aside.toc,
  nav.pagination {
    display: none;
  }

  .doc {
    color: inherit;
    margin: auto;
    max-width: none;
    padding-bottom: 2rem;
  }

  .doc > h1.page:first-child {
      margin-bottom: 0.25rem;
  }
  
  .doc > h1.page:first-child + .print-only {
      margin-top: -1.5rem;
      margin-bottom: 1.5rem;
  }
  
  .doc > h1.page:first-child + .print-only,
  #disclaimer {
      font-size: .88889rem;
  }

  .doc .admonitionblock td.icon {
    print-color-adjust: exact;
  }

  .doc .listingblock code[data-lang]::before {
    display: block;
  }

  aside.toc {
      display: initial;
  }
  
  aside.toc.embedded .toc-menu {
      margin-bottom: 1.5em;
  }

  #preamble {
      background: var(--neutral100);
      border: 2px solid var(--neutral100);
  }
  #preamble #preamble {
      border: none;
  }

  .source-toolbox .source-lang {
      visibility: initial !important;
  }
  .source-toolbox .source-lang::after {
      display: none !important;
  }

  .doc .admonitionblock td.content,
  .api aside.admonitionblock {
      border-radius: initial;
  }
  .doc .admonitionblock.note td.content,
  .api aside.note {
      background: var(--feedbackInformation100);
      border: 2px solid var(--feedbackInformation100);
  }
  .doc .admonitionblock.tip td.content,
  .api aside.tip {
      background: var(--feedbackSuccess100);
      border: 2px solid var(--feedbackSuccess100);
  }
  .doc .admonitionblock.important td.content,
  .api aside.important {
      background: var(--feedbackWarning100);
      border: 2px solid var(--feedbackWarning100);
  }
  .doc .admonitionblock.warning td.content,
  .api aside.warning {
      background: var(--feedbackError100);
      border: 2px solid var(--feedbackError100);
  }
  .doc .admonitionblock.note td.content a::after {
      border-bottom-color: var(--feedbackInformation100);
  }
  .doc .admonitionblock.tip td.content a::after {
      border-bottom-color: var(--feedbackSuccess100);
  }
  .doc .admonitionblock.important td.content a::after {
      border-bottom-color: var(--feedbackWarning100);
  }
  .doc .admonitionblock.warning td.content a::after {
      border-bottom-color: var(--feedbackError100);
  }

  footer.footer {
    background: none;
    border-top: 1px solid var(--panel-border-color);
    color: var(--quote-attribution-font-color);
    padding: 0.25rem 0.5rem 0;
  }

  .tableblock th,
  .tableblock > tbody > tr > td,
  .doc pre.highlight code,
  .api th,
  .api tr > td {
      border: 1.5px solid black !important;
  }
  .tableblock > tbody > tr,
  .api tr > td {
      border-top-width: 0px !important;
  }
  .doc table.tableblock thead th,
  .api th {
      border-top-width: 1.5px !important;
      outline: none !important;
      position: static;
      box-shadow: none;
  }
  .tableblock td.icon {
      border: none !important;
  }
  img,
  .doc .listingblock {
      break-inside: avoid;
  }
  .doc .listingblock .title {
      border-bottom: none !important;
  }

  .footer * {
    color: inherit;
  }

  .footer {
      border-color: initial !important;
      text-align: center;
  }
  .footer p:first-of-type a::before {
      content: "\A";
      white-space: pre-wrap;
  }

  .doc *:not(.search-result-document-hit) > a,
  .footer a {
      color: #1565c0 !important;
      border-bottom: 1px solid #1565c0;
      text-decoration: none;
  }
  .doc a:not([href^="mailto"])::after,
  .footer a:not([href^="mailto"])::after {
      content: " (" attr(href) ")";
      color: lightslategray;
  }
  .doc .toc.embedded a {
      border-bottom: none;
      color: #222 !important;
  }
  .doc .print-only a::after,
  .doc .toc.embedded a::after,
  .doc a.anchor::after {
      content: none;
  }
  .doc a[href^=_rss]::after {
      padding-left: 18px;
      width: initial;
  }

  .tooltip::after {
      color: lightslategray;
      content: " (" attr(data-tooltip) ")";
  }
}
