.navbar-brand .navbar-item + .navbar-item {
  flex-grow: 1;
  justify-content: flex-end;
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
  padding-right: 30px;
  width: 180px;
  position: relative;
  z-index: 1000;
}

#search-field > a {
  max-height: var(--topbar-height);
  padding-left: 0;
}

#search-field [type=submit] {
  display: initial;
  position: absolute;
  top: 13px;
  right: 16px;
  width: 24px;
  height: 23px;
  cursor: pointer;
  padding: 3px;
  background: transparent;
  border: none;
  z-index: 1000;
}
#search-field [type=submit]:after {
  display: none;
}
#search-field [type=submit]:before {
  content: "\f002";
  position: absolute;
  top: 4px;
  right: 5px;
  color: #333;
  font: normal normal normal 14px/1 FontAwesome;
}
@media screen and (min-width: 1301px) {
  #search-field {
    width: 210px;
  }
  #search-field [type=submit] {
    right: 34px;
  }
  #search-field [type=submit]:before {
    right: 5px;
  }
}
#search-input:not(:placeholder-shown) + [type=submit]:before,
#search-field [type=submit]:focus:before,
#search-field [type=submit]:active:before {
  content: "\f061";
  top: 0;
  right: 0;
  width: 24px;
  height: 23px;
  padding: 2px 5px;
  border: 2px solid #e3e3e3;
  border-right: 2px solid #979797;
  border-bottom: 2px solid #979797;
}
#search-field [type=submit]:active:before {
  border: 2px solid #979797;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}

#search-spinner {
  font-size: 1.5em;
  margin-right: 0.25em;
}

nav .search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
  left: inherit;
  top: 100%;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  font-family: "Montserrat-fontsource", sans-serif;
  max-width: 600px;
  min-width: 500px;
}

nav .search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  color: #333;
  box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.50);
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
  max-height: calc(100vh - 5.25rem);
  color: #333;
  scrollbar-width: initial;
}

.search-result-dropdown-menu .search-result-component-header + .search-result-item:before {
  position: absolute;
  top: .25rem;
  right: .5rem;
  display: block;
  font-size: 12.375px;
  pointer-events: none;
}
[lang="en"] .search-result-dropdown-menu .search-result-component-header + .search-result-item:before {
  content: "(Press Enter to open the search results list)";
}
[lang="fr"] .search-result-dropdown-menu .search-result-component-header + .search-result-item:before {
  content: "(Appuyez sur Entrée pour ouvrir la liste des résultats)";
}

.search-result-component-header + .search-result-item {
  margin-top: 1.9rem;
}

nav .search-result-item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.search-result-item {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.search-result-item:hover {
  background-color: rgba(69, 142, 225, 0.1);
}

.search-result-component-header {
  display: none;
}

.search-result-document-title {
  border-bottom: 1px solid #ddd;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  font-weight: 500;
  margin: 0 0.5rem;
  position: relative;
  text-shadow: initial;
  word-wrap: break-word;
}
nav .search-result-document-title {
  font-size: 0.8rem;
  font-weight: 700;
}

.search-result-document-title:before {
  content: "\f0f6";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 1.5em;
  line-height: 23px;
  margin-left: -1.3em;
}

nav .search-result-document-hit {
  font-size: 0.75em;
  color: #02060c;
}

.search-result-document-hit .search-result-highlight {
  background-color: var(--brandPrimaryIndigo200);
  font-weight: 500;
  padding: .1em .05em;
}

.search-result-document-hit > a {
  display: block;
  position: relative;
  background: initial !important;
  color: var(--brandPrimaryDarkBlue500) !important;
  font-family: "Montserrat-fontsource", sans-serif !important;
  font-weight: initial !important;
  margin-top: -2rem;
  padding: 2rem 0 0.5rem 2rem !important;
  text-decoration: none;
  text-shadow: initial !important;
  white-space: initial !important;
}
.search-result-item:hover {
  background: var(--neutral200);
}
nav .search-result-document-hit > a {
  font-size: 1.1em !important;
}

.search-result-document-hit > a:hover {
  font-family: "Montserrat-fontsource", sans-serif !important;
  font-weight: normal !important;
}

.search-result-document-hit > strong,
nav .search-result-dataset > .search-result-item:first-of-type:before {
  font-size: 0.8rem;
  padding-left: 1em;
  text-shadow: initial;
}

.search-result-document-hit .search-result-section-title {
  color: #303030;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.search-result-dataset > .search-result-item:first-of-type:before {
  content: "No results.";
}

[lang=fr] .search-result-dataset > .search-result-item:first-of-type:before {
  content: "Aucun résultat.";
}

.search-result-dataset > .search-result-item:first-of-type > .search-result-document-hit {
  display: none;
}

.search-result-dataset > .search-result-item:first-of-type {
  background: initial;
}

#search-input:focus {
  outline: none;
}

#search-input:disabled {
  background-color: #fff;
  background-repeat: no-repeat;
}

#search-input:disabled::placeholder {
  color: transparent;
}

/* https://stackoverflow.com/a/59066059 */
#search-input:disabled:placeholder-shown {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='4' y='16' fill='grey' font-family='Montserrat-fontsource, sans-serif' font-size='14.25' font-weight='lighter'>Loading...</text></svg>");
}

[lang=fr] #search-input:disabled:placeholder-shown {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='4' y='16' fill='grey' font-family='Montserrat-fontsource, sans-serif' font-size='14.25' font-weight='lighter'>Chargement...</text></svg>");
}

@media screen and (max-width: 1023px) {
  #search-field [type=submit] {
    top: calc(23px + 4px);
    right: calc(-100vw + 16px);
    z-index: 1000;
  }
  #search-field [type=submit] {
    display: none; /* Hide buggy button for now */
  }
  .search-result-dropdown-menu {
    position: static !important;
    max-width: initial !important;
  }
  .search-result-dropdown-menu a {
    text-align: left !important;
  }
}
