@import url("../fonts/Font-Awesome-4.7.0/font-awesome.css");

/* montserrat-latin-400-normal*/
@font-face {
  font-family: 'Montserrat-fontsource';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Montserrat-2022-09-22/montserrat-latin-400-normal.woff2') format('woff2'), url('../fonts/Montserrat-2022-09-22/montserrat-latin-400-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* montserrat-latin-500-normal*/
@font-face {
  font-family: 'Montserrat-fontsource';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/Montserrat-2022-09-22/montserrat-latin-500-normal.woff2') format('woff2'), url('../fonts/Montserrat-2022-09-22/montserrat-latin-500-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* montserrat-latin-600-normal*/
@font-face {
  font-family: 'Montserrat-fontsource';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/Montserrat-2022-09-22/montserrat-latin-600-normal.woff2') format('woff2'), url('../fonts/Montserrat-2022-09-22/montserrat-latin-600-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* montserrat-latin-400-italic*/
@font-face {
  font-family: 'Montserrat-fontsource';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Montserrat-2022-09-22/montserrat-latin-400-italic.woff2') format('woff2'), url('../fonts/Montserrat-2022-09-22/montserrat-latin-400-italic.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* montserrat-latin-500-italic*/
@font-face {
  font-family: 'Montserrat-fontsource';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/Montserrat-2022-09-22/montserrat-latin-500-italic.woff2') format('woff2'), url('../fonts/Montserrat-2022-09-22/montserrat-latin-500-italic.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* montserrat-latin-600-italic*/
@font-face {
  font-family: 'Montserrat-fontsource';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('../fonts/Montserrat-2022-09-22/montserrat-latin-600-italic.woff2') format('woff2'), url('../fonts/Montserrat-2022-09-22/montserrat-latin-600-italic.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  --outscale-blue: #19233e;
  --outscale-red: #eb595d;
  --outscale-darkgrey: #7a7d81;

  --outscale-green: #b8dbd2;
  --outscale-yellow: #f5dc6a;
  --outscale-lightgrey: #c5c5c5;

  --outscale-blue-darker: #4b5165;

  --preamble: #f6f5f5;
  --admonition-note: #eff0f2;
  --admonition-tip: #e5f3ef;
  --admonition-important: #fbf4ca;
  --admonition-warning: #f6c2c5;

  --color-feedback-success-300: #389c0d;
  --color-feedback-error-300: #e00b15;

  --ak-success-info: #b8dbd2;
  --ak-warning-info: #f5dc6b;
  --ak-error-info: #eb595d;  

  --topbar-height: 49px;
  --topbar-logo-width: 230px;
  --sidebar-width: 20rem;
  --sidebar-width-smaller: 15rem;
}

html {
  font-size: 15px;
}

@media screen {
  body {
    padding-top: var(--topbar-height);
  }
}

.body, .footer {
  font-family: "Montserrat-fontsource", sans-serif;
}

@media screen {
  .mobile-only {
    display: initial;
  }

  header #top-menu .entry:not(.logo) {
    display: none;
  }
  header #top-menu:focus-within .entry:not(.logo) {
    display: initial;
  }
  header #top-menu:focus-within + .nav-toggle {
    display: none;
  }

  header #top-menu-button {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: var(--topbar-height);
    height: var(--topbar-height);
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 4em;
    z-index: 10000;
  }

  header #top-menu-button span,
  header #top-menu-button span:before,
  header #top-menu-button span:after {
    position: absolute;
    top: 50%;
    right: 1.5em;
    height: 2px;
    width: 24px;
    background: #bbb;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  header #top-menu-button span:before {
    content: "";
    top: -7px;
    left: 0;
  }
  header #top-menu-button span:after {
    content: "";
    top: 7px;
    left: 0;
  }
  header #top-menu:focus-within #top-menu-button span,
  header #top-menu:focus-within #top-menu-button span:before,
  header #top-menu:focus-within #top-menu-button span:after {
    background: var(--outscale-green);
  }

  header {
    background: var(--outscale-blue);
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    z-index: 9999;
  }
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header .entry {
    position: relative;
  }
  header .entry a,
  header .entry button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    font-family: "Montserrat-fontsource", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding: 13px 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  header .entry a:hover {
    color: var(--outscale-green);
  }
  header .entry button {
    cursor: pointer;
  }
  header .entry button:after {
    content: "";
    position: absolute;
    top: var(--topbar-height);
    left: 50vw;
    width: 10px;
    margin-top: 2px;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #a1d1e8;
  }

  header .logo.entry a {
    width: var(--topbar-logo-width);
    height: var(--topbar-height);
    margin: auto;
    padding: 11px 60px;
  }

  header .dropdown.entry ul {
    position: absolute;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    border-top: none;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 100ms linear;
  }
  header .dropdown.entry:focus-within ul {
    position: static;
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  header .dropdown.entry a {
    min-width: 12em;
    padding: 12px 23px;
    color: var(--outscale-blue);
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }
  header .dropdown.entry a:hover,
  header .dropdown.entry a:focus {
    background-color: var(--outscale-yellow);
  }

  header .right.entry [aria-controls="entry-lang"] .fa,
  header .right.entry [aria-controls="entry-lang"]:after {
    font-size: 14px;
  }

  .nav-container {
    width: var(--sidebar-width);
  }
  .nav {
    top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-only,
  header #top-menu-button {
    display: none;
  }
  header #top-menu .entry:not(.logo) {
    display: initial;
  }

  header {
    overflow-y: visible;
  }

  header .entry {
    float: left;
  }
  header .right.entry {
    float: right;
  }
  header .entry a,
  header .entry button {
    text-align: left;
  }

  header .entry button:after {
    left: 50%;
    margin-top: -12px;
  }

  /* This prevents blocking the closing of the dropdown when clicking its title a second time */
  header .dropdown.entry:before {
    content: "";
    position: absolute;
    top: 0;
    width: 101%;
    height: var(--topbar-height);
    display: none;
  }
  header .dropdown.entry:hover:before {
    display: block;
  }

  header .dropdown.entry:hover ul,
  header .dropdown.entry:not(:active):focus-within ul {
    position: absolute;
    height: auto;
    visibility: visible;
    opacity: 1;
  }
  header .right.dropdown.entry ul {
    right: 0;
  }

  header .right.entry [aria-controls="entry-lang"] {
    font-size: 14px;
    display: block;
  }

  .nav {
    top: var(--topbar-height);
    height:calc(100vh - var(--topbar-height));
  }
  .nav-container {
    width: var(--sidebar-width-smaller);
  }
  aside.toc.sidebar {
    -ms-flex-preferred-size: var(--sidebar-width-smaller);
    flex-basis: var(--sidebar-width-smaller);
  }
}

@media screen and (min-width: 1301px) {
  header .entry a,
  header .entry button {
    padding: 13px 24px;
  }
  .nav-container {
    width: var(--sidebar-width);
  }
  aside.toc.sidebar {
    -ms-flex-preferred-size: var(--sidebar-width);
    flex-basis: var(--sidebar-width);
  }
}

@media screen {
  .navbar, .footer {
    background: var(--outscale-blue) !important;
  }
}

.nav-item {
  margin-top: 0;
}

.nav-item a {
  display: block;
  color: #fff;
  padding: 0.25em 0 0.25em 1.5em;
  position: relative;
}

.nav-item a:before {
  position: absolute;
  left: 0.35em;
  top: -0.04em;
  color: #c1c1c199;
  content: "\2022";
  font-size: 1.35em;
  font-weight: 600;
}

.nav-item a:hover,
.nav-item-toggle:hover + a {
  background: var(--admonition-important);
  color: var(--outscale-blue);
  text-decoration: none;
}

.nav-item-toggle {
  background: transparent url(../img/caret.svg) no-repeat 40%/40%;
  background-position: center;
  padding: 0.25em 0 0.25em 0.1em;
  margin: 0 0 1em -0.3em;
  width: 1.8em;
  height: 1.8em;
  z-index: 100;
}

.nav-item-toggle:hover {
  filter: brightness(65%);
}

.nav-item-toggle + a:before {
  content: "";
}

.nav-item-toggle ~ .nav-list {
  padding-bottom: 0;
}

.nav-list:first-child {
  margin-left: 0;
  margin-top: 2em;
}

.nav-list {
  margin-bottom: 0.5em;
}

[aria-current="page"],
[aria-current="page"]:hover {
  background: var(--outscale-yellow) !important;
  color: var(--outscale-blue) !important;
}

@media screen {
  aside.toc.embedded {
    margin-bottom: 1em;
  }
}

.toolbar {
  height: 0;
}

@media screen {
  main > .content {
    margin: 0 auto;
    max-width: 80rem;
    margin-top: 2.5rem;
  }

  .doc {
    color: var(--outscale-blue);
    margin: 0 2rem;
    max-width: 100%;
    z-index: 1;
  }
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  scroll-margin-top: var(--topbar-height);
}

.doc h1 {
  color: var(--outscale-red);
}
.doc h2 {
  font-size: 24px;
}
.doc h3 {
  font-size: 20px;
}
.doc h4 {
  font-weight: 500;
}

.nav-toggle {
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  height: var(--topbar-height);
  width: var(--topbar-height);
  /*! z-index: 9999; */
}
.navbar {
  padding-left: var(--topbar-height);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
@media screen {
  .nav {
    background: var(--outscale-blue-darker);
  }
}
.nav-container {
  top: var(--topbar-height);
  font-size: .86111rem;
}
.toolbar {
  visibility: hidden;
}

#preamble {
  background: var(--preamble);
  padding: 0.5em 0.75em;
}

#preamble .paragraph:first-child {
  margin: 0;
}

#preamble + * {
  margin-top: 2rem;
}

.doc .admonitionblock {
 margin: 0.5em 0 1.5em;
}

.doc .ulist .admonitionblock {
 margin: 0.5em 0;
}

.doc .admonitionblock p, .doc .admonitionblock td.content {
  font-size: inherit;
}

.doc .admonitionblock .icon {
  border-radius: 1rem;
  padding: 0;
  -webkit-transform: translate(1rem, 1em);
  transform: translate(1.2rem, 1em);
}

.doc .admonitionblock .icon i::after {content: "";}
.doc .admonitionblock.note .icon {background: none;}
.doc .admonitionblock.tip .icon {background: none;}
.doc .admonitionblock.important .icon {background: none;}
.doc .admonitionblock.warning .icon {background: none;}

.doc .admonitionblock p .icon {
  color: initial !important;
  position: initial;
}

.doc .admonitionblock td.content {
  padding: 0.75rem 1rem 0.75rem 3rem;
  border: none;
  border-radius: 10px;
}

.doc .admonitionblock.note td.content {background: var(--admonition-note);}
.doc .admonitionblock.tip td.content {background: var(--admonition-tip);}
.doc .admonitionblock.important td.content {background: var(--admonition-important);}
.doc .admonitionblock.warning td.content {background: var(--admonition-warning);}

.statustag {
  color: var(--outscale-blue);
  background-color: var(--outscale-green);
  text-transform: uppercase;
  font-size: smaller;
  border-style: solid;
  border-color: var(--outscale-green);
  border-radius: 10px;
  border-width: thin thick;
}

.doc > h1.page:first-child {
  margin-top: 0;
}

.doc h3, .doc h4, .doc h5, .doc h6 {
  margin: 2.5rem 0 0;
}

.sectionbody > .sect2:first-child > h3:first-child {
  margin: 1rem 0 0;
}

.doc .listingblock .title {
  background: #888;
  color: #eee;
  -webkit-box-shadow:inset 0 0 1.75px #e1e1e1;
  box-shadow:inset 0 0 1.75px #e1e1e1;
  font-style:normal;
  letter-spacing:initial;
  padding: .075rem .5rem;
}
.doc .listingblock code {
  background-color: #1e2224 !important;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}
code, kbd, pre {
  font-family: 'Fira Mono', monospace;
}

.doc .olist li {margin-bottom: 1rem; padding-left:0.5em}
.doc .olist .olist li {margin-bottom: 0rem;}

.doc .ulist .ulist {
  margin: 0 0 0.5rem;
}

.doc .ulist li {margin-bottom: 0rem;}

.doc p code, .doc thead code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0 3px;
}

.doc table.tableblock {
  font-size: inherit;
}

.doc table.tableblock>:not(thead) th,
.doc table.tableblock td {
  border:1px solid #e1e1e1;
}
.doc table.tableblock thead th {
  position: -webkit-sticky;
  position: sticky;
  top: var(--topbar-height);
  z-index: 1;
  background: #f4f5f7;
  border: 1px solid #e1e1e1;
  outline: 1px solid #e1e1e1;
}

.doc table.tableblock img[src*="scrNbRed"] {
  max-width: initial !important;
}

.toc .toc-menu a:hover {
 color: inherit;
 text-decoration: underline;
}

b, dt, strong, th {font-weight: 600;}

.admonitionblock td.icon {
  text-align: center;
  width: 1.1em;
}
i.fa.icon-note::before {color: #444; content: "\f05a"; font-size: 1.1em;}
i.fa.icon-tip::before {color: #14892c; content: "\f058"; font-size: 1.1em;}
i.fa.icon-important::before {color: #594300; content: "\f071";}
i.fa.icon-warning::before {color: #cf4336; content: "\f071";}

.fa-check {
  color: var(--color-feedback-success-300);
}

.fa-ban {
  color: var(--color-feedback-error-300);
}

.ak-success-info * {
  color: var(--ak-success-info);
}

.ak-warning-info * {
  color: var(--ak-warning-info);
}

.ak-error-info * {
  color: var(--ak-error-info);
}

.navbar-brand .navbar-item:nth-child(2),
.navbar-brand .navbar-item:nth-child(3) {
    flex-grow: initial !important;
    color: #fff;
}

#aws-disclaimer {
  font-size: 0.9em;
  padding-top: 3em;
}

@media screen {
  footer.footer {
    color: #ccc;
    padding: 2rem 0 4rem;
    text-align: center;
  }
  footer.footer a {
    color: #fff;
  }
}



/* Sidepanels */

.content.static .toc.sidebar .toc-menu {
  position: static;
}

.toc.sidebar .toc-menu {
  margin-bottom: 0.5rem;
}

.toc.sidebar table .paragraph {
  height: 2rem;
}

.toc.sidebar .paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 2.5rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  font-size: .83333rem;

  color: #333;
  line-height: 1.3;
  margin: 0 -.5px;
  padding-bottom: .25rem;
}

.toc.sidebar .paragraph strong {
  font-weight: 500;
}

.toc.sidebar .paragraph p,
.toc.sidebar .ulist p {
  margin: 0;
}

.toc.sidebar .ulist li:last-child {
  margin-bottom: 1em;
}

.toc.sidebar .ulist a {
  border: 0;
}

.toc .toc-menu a.is-active {
  border-left-color: var(--outscale-blue);
}

.sidebar-button {
  display: block;
}

.sidebar-button a {
  border: 0 !important;
  cursor: pointer;
  padding-left: 0 !important;
}

.sidebar-button a:hover i {
  text-decoration: underline;
}

.toc.sidebar .paragraph.sidebar-button + .sidebar-button {
  height: initial;
}

:not(.mobile-only) + .mobile-only:not(:last-of-type) {
  padding-top: 2rem;
}

@media screen and (min-width:1024px) {
  .mobile-only {
    display: none;
  }
}



/* Tabs */

.tabBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a.tabLink {
  float: left;
  background: #f1f1f1;
  border: 1px solid transparent;
  border-bottom: none;
  color: var(--outscale-blue);
  padding: 14px 16px;
}

a.tabLink:hover {
  background: #ddd;
  color: var(--outscale-blue);
  text-decoration: none;
}

a.tabLink.active {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 0 1px white;
}

@media screen {
  div.tab {
    clear: left;
    border: 1px solid #ccc;
    padding: 1em 2em;
    display: none;
  }
}

div.tab.active {
  display: block;
}

.paragraph .title + p {
  display: table-header-group;
}
.paragraph .title {
  display: table-footer-group;
  text-align: center;
  font-style: italic;
}



/* Tooltips */

@media screen {
  .doc h2:not(.discrete) {
    padding: .4rem 1rem 0.3rem;
  }

  .tooltip {
    position: relative;
    border-bottom: 2px dotted #777;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    min-width: max-content;
    background: #494b4d;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    position: absolute;
    z-index: 1;
    top: 150%;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #494b4d transparent;
  }

  .tooltip:hover .tooltiptext,
  .tooltip:active .tooltiptext {
    visibility: visible;
  }

  #term-box {
    background-color: var(--admonition-tip);
    padding: 0.75rem 1rem 0.75rem;
    border: none;
    border-radius: 10px;
  }

  #term-box .paragraph, #term-box li {
    margin: initial;
    height: initial;
  }

  #term-box p {
    color: var(--outscale-blue);
    line-height: 1.4em;
  }

  #term-box a {
    display: inline;
    padding: initial;
    color: #1565c0;
  }
  #term-box a:hover {
    color: #104d92;
  }
}



/* Link icons */

a[href^="http"]:after,
a[href^="_rss"]:after {
  position: relative;
  bottom: 0.2em;
  display: inline-block;
  font: normal;
  font-family: FontAwesome;
  line-height: 1;
  margin: 0 0.3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href^="http"]:after {
  content: "\f08e";
  font-size: 0.9em;
}
.logo.entry a[href^="http"]:after {
  content: none;
}

a[href^="_rss"]:after {
  content: "\f143";
  color: #ffa500;
  font-size: 1.15em;
}

@media screen {
  .print-only {
    display: none;
  }
}
