html {
    font-size: 15px;
}

#top-menu,
header a,
header button,
header label,
.nav-container,
.toc.sidebar,
.ulist.tabBar,
.sidebar-button a,
iframe {
    display: none !important;
}
header, .sm {
    position: static;
    background: none;
    border: none !important;
    box-shadow: none !important;
}
.sm li, .sm-blue a {
    background: none !important;
}
header a.logo {
    display: block !important;
    margin: 0 2rem 0.25rem;
    padding: 0 !important;
}
header a.logo, header a.logo img {
    max-width: 130px !important;
}

.doc > h1.page:first-child {
    margin-bottom: 0.25rem;
}

.doc > h1.page:first-child + .print-only {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

.doc > h1.page:first-child + .print-only,
#aws-disclaimer {
    font-size: .88889rem;
}

aside.toc {
    display: initial;
}

aside.toc.embedded .toc-menu {
    margin-bottom: 1.5em;
}

.footer {
    border-color: initial !important;
    text-align: center;
}
.footer p:first-of-type a::before {
    content: "\A";
    white-space: pre-wrap;
}

#preamble {
    background: var(--neutral100);
    border: 2px solid var(--neutral100);
}
#preamble #preamble {
    border: none;
}

.tableblock th,
.tableblock > tbody > tr > td,
.doc pre.highlight code {
    border: 1px solid black !important;
    box-shadow: initial;
}
.doc table.tableblock thead th {
    outline: none;
    position: static;
}
.tableblock td.icon {
    border: none !important;
}
.doc .listingblock .title {
    border-bottom: none !important;
}

h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content: "";
    display: block;
    height: 2em;
    margin-bottom: -2em;
}

img,
.doc .listingblock {
    break-inside: avoid;
}

.source-toolbox .source-lang {
    visibility: initial !important;
}
.source-toolbox .source-lang::after {
    display: none !important;
}

.doc .admonitionblock td.content {
    border-radius: initial;
}
.doc .admonitionblock.note td.content {
    background: var(--feedbackInformation100);
    border: 2px solid var(--feedbackInformation100);
}
.doc .admonitionblock.tip td.content {
    background: var(--feedbackSuccess100);
    border: 2px solid var(--feedbackSuccess100);
}
.doc .admonitionblock.important td.content {
    background: var(--feedbackWarning100);
    border: 2px solid var(--feedbackWarning100);
}
.doc .admonitionblock.warning td.content {
    background: var(--feedbackError100);
    border: 2px solid var(--feedbackError100);
}
.doc .admonitionblock.note td.content a::after {
    border-bottom-color: var(--feedbackInformation100);
}
.doc .admonitionblock.tip td.content a::after {
    border-bottom-color: var(--feedbackSuccess100);
}
.doc .admonitionblock.important td.content a::after {
    border-bottom-color: var(--feedbackWarning100);
}
.doc .admonitionblock.warning td.content a::after {
    border-bottom-color: var(--feedbackError100);
}

.doc *:not(.search-result-document-hit) > a,
.footer a {
    color: #1565c0 !important;
    border-bottom: 1px solid #1565c0;
    text-decoration: none;
}
.doc a:not([href^="mailto"])::after,
.footer a:not([href^="mailto"])::after {
    content: " (" attr(href) ")";
    color: lightslategray;
}
.doc .toc.embedded a {
    border-bottom: none;
    color: #222 !important;
}
.doc .print-only a::after,
.doc .toc.embedded a::after,
.doc a.anchor::after {
    content: none;
}
.doc a[href^=_rss]::after {
    padding-left: 18px;
    width: initial;
}

.tooltiptext {
    color: lightslategray;
    margin: initial !important;
}
.tooltiptext::before {
    content: " (";
}
.tooltiptext::after {
    content: ")";
}
