:root {
  --outscale-blue-darker: #4b5165;
  --search-bar-height: 23.38px;
  --search-bar-vertical-margin: 24px;
}

main > .content {
  display: block;
  max-width: initial;
}

.api {
  font-size: 15px;
  color: var(--neutral1000);
  padding: 0 60px;
}
.api h1 {
  border-color: #e1e1e1;
}
.api > h1:first-of-type {
  margin-top: -3rem;
  padding-top: 5rem;
}

.api h1, .api h2, .api h3, .api h4, .api h5, .api h6 {
  color: var(--brandPrimaryDarkBlue500);
  font-weight: 500;
  font-size: 24px;
}

.api h2, .api h3, .api h4, .api h5, .api h6 {
  font-size: 20px;
}

.api code, .api pre {
  font-family: 'Fira Mono', monospace;
  font-size: 11px;
  line-height: 1.5;
}
.toc-wrapper {
  font-weight: normal;
  padding-top: 50px;
}
@media screen and (min-width: 1301px) {
  .toc-wrapper {
    overflow: hidden;
    padding-top: 50px;
    font-weight: 500;
    font-size: 12px;
    width: 300px;
    box-sizing: border-box;
  }
}
.toc-wrapper a {
  text-decoration: none;
}
.toc-wrapper > .search {
  border-bottom: 1px solid #00000011;
  margin-bottom: var(--search-bar-vertical-margin);
}
.toc-wrapper > .search::before {
  left: 22px;
  top: 14px;
  color: #333;
}
.toc-wrapper #input-search-close {
  position: absolute;
  width: 20px;
  height: 23px;
  right: 16px;
  top: 9px;
  color: #333;
  content: "×";
  font-size: 20px;
}
.toc-wrapper #input-search-close::before {
  content: "×";
  cursor: pointer;
  margin-left: 4px;
}
.toc-wrapper > .search input {
  background: #fff;
  color: #333;
  height: var(--search-bar-height);
  width: 90%;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  font-size: 14.25px;
  padding-left: 25px;
}
.toc-wrapper .search-results li {
  margin: 0;
}
.toc-wrapper .search-results a,
.toc-wrapper .search-results span {
  display: block;
  padding: 6px 15px;
}
.toc-wrapper .search-results a:hover {
  text-decoration: none !important;
}
.toc-wrapper .search-results a.main-result {
  font-weight: bold;
  color: #fff;
}
.toc-wrapper .search-results a.other-result {
  font-weight: normal;
  color: #eee;
}
.toc-wrapper a:hover {
  background-color: var(--brandPrimaryDarkBlue300) !important;
  color: #fff;
}
.toc-wrapper .toc-h1:hover, .toc-wrapper .toc-h2:hover {
  color: #fff;
}
div .highlight {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  /*overflow-x: hidden;*/
}
.toc-wrapper .toc-list-h1#toc {
  height: calc(100% - 10px - 10px - var(--search-bar-height) - 30px - 0.5em - 0.5em - var(--search-bar-vertical-margin) - var(--search-bar-vertical-margin) - 1px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
.toc-h1 {
  font-size: 14px;
}
.toc-h2 {
  font-size: 13px !important;
  font-weight: 500;
}
.toc-list-h3 {
  display: none;
  background-color: #1E2224;
}
.toc-h3 {
  padding-left: 35px;
  font-size: 11px;
}
.toc-list-h4 {
  display: none;
  background-color: #1E2224;
}
.toc-h4 {
  padding-left: 45px;
  font-size: 10px;
}
.toc-list-h5 {
  display: none;
  background-color: #1E2224;
}
.toc-h5 {
  padding-left: 55px;
  font-size: 9px;
}
.toc-list-h6 {
  display: none;
  background-color: #1E2224;
}
.toc-h6 {
  padding-left: 65px;
  font-size: 8px;
}
.toc-link, .toc-footer li {
  overflow-x: initial;
}
.well {
  background: rgba(0, 0, 0, 0.01);
}

#toc a[href^="#pagination"],
#toc a[href^="#pagination-tutorial"] {
  margin-bottom: 1em;
}
#toc li:not(:first-child) a[href$="errors"],
#toc li:not(:first-child) a[href$="error-codes"],
#toc li:not(:first-child) a[href$="error-codes-reference"] {
  margin-top: -1em;
  margin-bottom: 1em;
}

.dark-box .lang-selector {
  display: none;
}

/* @media screen and (max-width: 1300px) { */
  .dark-box {
    display: none;
  }
  .api > h1, .api > h2, .api > h3, .api > h4, .api > h5, .api > h6, .api > p, .api > table, .api > ul, .api > ol, .api > aside, .api > dl {
    margin-right: 0;
  }
/* } */

.api h1 {
  padding-top: 2.5em;
}

.api h2 {
  padding-top: 3.2em;
  padding-bottom: 0;
}

/* @media screen and (max-width: 1300px) { */
  .api pre,
  .api blockquote,
  .page-wrapper .lang-selector {
    width: auto;
    float: none;
    margin: 0px 20px 0px 20px;
  }
/* } */

/* @media screen and (min-width: 1301px) {
  :not(.lang-selector):not(table) + blockquote {
    float: initial;
    position: initial;
    margin: 1.5em calc(50% + 1.5em) 20px 1.5em;
    width: initial;
  }
} */

.api pre {
  padding-top: 8.25px;
  padding-bottom: 8.25px;
}
.api > pre + h1, .api > blockquote + h1, .api > pre + h2, .api > blockquote + h2, .api > pre + h3, .api > pre + h4, .api > blockquote + h4, .api > pre + h5, .api > blockquote + h5, .api > pre + h6, .api > blockquote + h6, .api > pre + p, .api > blockquote + p, .api > pre + table, .api > blockquote + table, .api > pre + ul, .api > blockquote + ul, .api > pre + ol, .api > blockquote + ol, .api > pre + aside, .api > blockquote + aside, .api > pre + dl, .api > blockquote + dl {
  margin-top: 28px;
}
.api >  h2 + a + a + a + a + table {
  margin-top: 0.8em;
}
a.offset-up {
  position: relative;
  top: calc(-28px - 3.2em);
}
.api > p + blockquote p,
.api blockquote.admonition-in-table > p {
  background-color: var(--feedbackError100);
  color: var(--neutral1000);
  font-weight: 600;
}
.api blockquote.admonition-in-table {
  margin-left: 0;
  margin-bottom: 1em;
  z-index: initial !important;
}

h3 + p + blockquote {
  background: var(--neutral100) !important;
  color: var(--neutral1000) !important;
}
h3 + p + blockquote > * {
  background: transparent !important;
  font-weight: normal !important;
}
h3 + p + blockquote > ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
h3 + p + blockquote > ol:last-child {
  padding-bottom: 12px;
}
h3 + p + blockquote + p {
  margin-top: 0.8em !important;
}
h3 + p + blockquote a {
  border-bottom: none !important;
}

.toc-wrapper .lang-selector {
  display: block;
  margin-bottom: var(--search-bar-vertical-margin);
}

.toc-wrapper .logo {
  max-width: 80%;
  margin: 10%;
}

#nav-button.open {
  left: 300px;
}

@media screen and (min-width: 1301px) {
  .page-wrapper {
    margin-left: 300px;
  }
}

.page-wrapper .lang-selector {
  position: initial;
  background-color: var(--outscale-blue-darker);
  border-bottom: 5px solid #2E3336;
  font-size: 12px;
}
/* @media screen and (min-width: 1301px) {
  .page-wrapper .lang-selector {
    float:right;
    width: 50%;
    margin-top: 44px;
  }
} */
.page-wrapper .lang-selector a:link,
.page-wrapper .lang-selector a:visited {
  color: #fff;
  text-decoration: none;
}
.page-wrapper .lang-selector a:hover {
  background-color: var(--brandPrimaryDarkBlue300);
}
.lang-selector a.active,
.lang-selector a:active,
.lang-selector a:focus {
  background-color: #fff !important;
  color: var(--brandPrimaryIndigo500) !important;
}

.api table td:first-child {
  white-space: nowrap;
}

.api pre.highlight.tab:not(.tab-bash):not(.tab-json) {
  display: none;
}

.api mark {
  background: none;
  color: var(--feedbackError300);
}

.api aside {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin: 1.5em 20px;
}

/* @media screen and (min-width: 1301px) {
  .api aside {
    margin: 1.5em calc(50% + 1.5em) 20px 1.5em;
  }  
} */

.api aside.warning {
  background-color: var(--feedbackError100);
}

.api aside.success {
  background-color: var(--feedbackSuccess100);;
}

.api aside.before {
  font-size: 12px;
}

.api blockquote > p {
  padding: 12px 2em;
}

.api a:link {
  color: var(--brandPrimaryIndigo500);
  text-decoration: underline;
}
.api a:visited {
  color: var(--brandPrimaryIndigo500);
}
.api a:hover {
color: var(--brandPrimaryIndigo600);
}
.api .search-highlight {
  border: none;
  background: #f7e63366;
}

@media (max-width: 1023px) {
.toc-wrapper {
  left: -300px;
  padding-top: 100px; }
.toc-wrapper.is-active {
  left: 0px; }
.toc-wrapper.open {
  left: 0;
  padding-top: 50px; }
.page-wrapper {
  margin-left: 0; }
#nav-button {
  display: block;
  padding-top: 50px; }
.toc-link {
  padding-top: 0.3em;
  padding-bottom: 0.3em; } }


/* Copy to clipboard */

.api pre.highlight {
  position:relative;
  overflow-y: clip;
}
.api .source-toolbox {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  visibility:hidden;
  position:absolute;
  top:16.5px;
  right:5rem;
  color:grey;
  font-family:sans-serif;
  font-size:1.8rem;
  line-height:1;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  white-space:nowrap;
  z-index:1
}
.api pre:hover .source-toolbox {
  visibility:visible
}

.api .source-toolbox .copy-button {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  background:none;
  border:none;
  color:inherit;
  outline:none;
  padding:0;
  font-size:inherit;
  line-height:inherit;
  width:1em;
  height:1em;
  margin: 0 0.15rem;
}
.api .source-toolbox .copy-icon {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none;
  width:inherit;
  height:inherit
}
.api .source-toolbox img.copy-icon {
  -webkit-filter:invert(50.2%);
  filter:invert(50.2%)
}
.api .source-toolbox svg.copy-icon {
  fill:currentColor
}
.api .source-toolbox .copy-button:nth-of-type(1)::after {
  content: "≡";
  position: absolute;
  font-family: 'Fira Mono';
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.5em;
}
.api .source-toolbox .copy-button:nth-of-type(2)::after {
  content: "—";
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 1px;
}

.api .source-toolbox .copy-toast {
  -webkit-box-flex:0;
  -ms-flex:none;
  flex:none;
  position:absolute;
  top: 0.5rem;
  left: -100000px;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  margin-top:1.8em;
  background-color:#333;
  border-radius:.25em;
  padding:.5em;
  color:#fff;
  opacity:0;
  -webkit-transition:opacity .5s ease .5s;
  transition:opacity .5s ease .5s;
  font-size:1rem;
}
.api .source-toolbox .copy-toast::after {
  content:"";
  position:absolute;
  top:0;
  width:1em;
  height:1em;
  border:.55em solid transparent;
  border-left-color:#333;
  -webkit-transform:rotate(-90deg) translateX(50%) translateY(50%);
  transform:rotate(-90deg) translateX(50%) translateY(50%);
  -webkit-transform-origin:left;
  transform-origin:left
}
.api .source-toolbox .copy-button.clicked .copy-toast {
  opacity:1;
  left: initial;
  -webkit-transition:none;
  transition:none
}

.api:after {
  margin-bottom: 3em;
}

.api table {
  overflow: initial;
}

.api table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: var(--topbar-height);
  z-index: 1;
  background: #f4f5f7;
  border: 1px solid #e1e1e1;
  outline: 1px solid #e1e1e1;
}
.api blockquote,
.api pre.highlight {
  position: relative;
  z-index: -1;
}

#errors + div {
  padding: 0 28px;
  box-sizing: border-box;
  display: block;
}

#errors + div + p + table {
  max-width: 80rem;
}

#errors + div + p + table code {
  display: inline-block;
  white-space: nowrap;
}
