/* place your custom CSS overrides here */

.toc-wrapper {
    background-color: var(--brandPrimaryDarkBlue500);
}

h1 {
    color: var(--brandPrimaryDarkBlue500);
}

.toc-wrapper .toc-list-h2 {
    background-color: var(--brandPrimaryDarkBlue500);
}
.toc-wrapper .active a {
    background-color: var(--brandPrimaryDarkBlue400);
}

.toc-wrapper .lang-selector {
    background-color: var(--brandPrimaryDarkBlue500);
}

.toc-wrapper .toc-link.active-parent {
    background-color: var(--brandPrimaryIndigo700) !important;
    color: #fff;
}

.toc-wrapper .toc-link.active {
    background-color: var(--brandPrimaryIndigo500) !important;
    color: #fff;
}

.lang-selector, th {
    font-weight: 500;
}

.api table br + span {
    display: block;
    margin-top: 0.5rem;
}

b, strong {
    font-weight: 600;
}

.deprecation {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin: 2.5px 0.25rem;
  padding: 0 0.75rem;
  white-space: nowrap;

  background: var(--feedbackWarning100);
  border-color: var(--feedbackWarning300);
  color: var(--feedbackWarning500);
}
.toc-link.deprecation {
  padding: 0 0.5rem;
}
